STEAM_USER=id-not-email
STEAM_PASSWORD=password
STEAM_BRANCH=public
STEAM_BRANCH_PASSWORD=
ARMA_BINARY=./arma3server_x64
ARMA_CONFIG=main.cfg
ARMA_BASIC_CONFIG=basic.cfg
ARMA_PROFILE=main
ARMA_WORLD=empty
ARMA_LIMITFPS=100
ARMA_PARAMS=
ARMA_CDLC=
PORT=2302
SKIP_INSTALL=false
MODS_LOCAL=true
MODS_PRESET=
CLEAR_KEYS=true
EXTRACT_MOD_KEYS=true
HEADLESS_CLIENTS=0
HEADLESS_CLIENTS_PROFILE="$profile-hc-$i"
