# ---- Steam ----
# Account must own the Arma 3 dedicated server.
# If first time: steamcmd +login USER PASS +app_license_request 233780 +quit
STEAM_USER=id-not-email
STEAM_PASSWORD=password                   # avoid $ ` " ' ! in passwords with this file
STEAM_BRANCH=public                       # "creatordlc" for CDLCs
STEAM_BRANCH_PASSWORD=                    # beta branch password

# ---- Server ----
ARMA_BINARY=./arma3server_x64
ARMA_CONFIG=main.cfg
ARMA_BASIC_CONFIG=basic.cfg
ARMA_PROFILE=main
ARMA_WORLD=empty
ARMA_LIMITFPS=100
ARMA_PARAMS=
ARMA_CDLC=                                # semicolon-separated (e.g. csla;gm)
PORT=2302
SKIP_INSTALL=false

# ---- Mods ----
MODS_LOCAL=true
MODS_PRESET=                              # filename from presets/ or URL
CLEAR_KEYS=true
EXTRACT_MOD_KEYS=true

# ---- Headless clients ----
HEADLESS_CLIENTS=0
HEADLESS_CLIENTS_PROFILE="$profile-hc-$i"
